html {
    background: url("../images/bg5.jpg")
}

#titleContainer {
    background-color: white;
    margin-left: 9%;
    margin-right: 9%;
    border-width: 5px;
    border-style: outset;
    border-color: #f392bc;
    margin-top: 25px;
}

#bigTitle {
    font-family: 'Mrs Sheppards', cursive;
    text-align: center;
    font-size: 100px;
    color: #f392bc;
    padding: 15px;
    text-shadow: -2px 0 #f6c0da, 0 2px #f6c0da, 2px 0 #f6c0da, 0 -2px #f6c0da;
}

#subtitle {
    /*font-family: 'Bonbon', cursive;*/
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 32px;
    color: #f392bc;
    text-shadow: -2px 0 #f6c0da, 0 2px #f6c0da, 2px 0 #f6c0da, 0 -2px #f6c0da;
}

#instructions {
    font-family: 'Patrick Hand SC', cursive;
    /*font-family: 'Palanquin Dark', sans-serif;*/
    /* font-family: 'Shrikhand', cursive;*/
    text-align: center;
    font-size: 24px;
    /*color: #f392bc;*/
    /*color:#b19bd9;*/
    /*color: #99c9de;*/
    color: skyblue;
    padding: 19px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 26px;
    text-shadow: -1px 0 #fcedb8, 0 1px #fcedb8, 1px 0 #fcedb8, 0 -1px #fcedb8;
}

#dessertButtons {
    background-color: white;
    padding: 20px;
    margin-left: 4%;
    margin-right: 4%;
    border-width: 3px;
    border-style: outset;
    border-color: #f392bc;
    padding-left: 8px;
    padding-right: 8px;
}

#dessertButtons button {
    margin: 5px;
    /*background-color:#fcedb8;*/
    /*background-color: #e65289;*/
    background-color: #f392bc;
    color: #fcedb8;
    font-family: 'Patrick Hand SC', cursive;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    
   /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}



#submissionStuff {
	background-color:white;
	/*margin-left: 9%;
	margin-right:9%;*/
	text-align: center;
	border-width: 3px;
    border-style: outset;
    border-color: #f392bc;
    float:right;
    display:inline-block;
    width:15%;
    margin-right:4%;
    padding-top:12px;
   /* margin-left:6px;*/




}

#submissionStuff p {
	color: skyblue;
	font-family: 'Patrick Hand SC', cursive;
	font-weight: bold;
	font-size:22px;
	padding-bottom: 12px;
	text-shadow: -1px 0 #fcedb8, 0 1px #fcedb8, 1px 0 #fcedb8, 0 -1px #fcedb8;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:6px;

}

#dessert-input {
	border-color:#f392bc;
	width:50%;
}

#dessertSubmit {

	margin-top: 8px;
    /*background-color:#fcedb8;*/
    /*background-color: #e65289;*/
    background-color: #f392bc;
    color: #fcedb8;
    font-family: 'Patrick Hand SC', cursive;
    padding: 5px;
    padding-left:5%;
    padding-right:5%;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;

}

#instructions2 {
	padding-left:9px;
	padding-right:9px;
	color: skyblue;
	font-family: 'Patrick Hand SC', cursive;
	font-weight: bold;
	font-size:18px;
	text-shadow: -1px 0 #fcedb8, 0 1px #fcedb8, 1px 0 #fcedb8, 0 -1px #fcedb8;
}

#dessertPicsHere{
	background-color:white;
	margin-bottom:20px;
	margin-left: 4%;
    width:70%;
    float-left;
    display:inline-block;
    border-width: 3px;
    border-style: outset;
    border-color: #f392bc;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:2%;
    padding-right:2%;

}

.individualDessert {
	display: inline-block;
	float:left;
	margin:20px;
	color: #f392bc;
	font-family: 'Patrick Hand SC', cursive;
	/*font-weight: bold;*/
	font-size:24px;
	/*text-shadow: -1px 0 #fcedb8, 0 1px #fcedb8, 1px 0 #fcedb8, 0 -1px #fcedb8;*/
	text-shadow: -1px 0 #f6c0da, 0 1px #f6c0da, 1px 0 #f6c0da, 0 -1px #f6c0da
	
}

.gif {
	border-width: 2px;
    border-style: solid;
    border-color: #f392bc;

}